BOT_TOKEN=
ADMIN_IDS=
CHANNEL_USERNAME=
REGISTRATION_URL=
PROMO_CODE=TOM
MIN_DEPOSIT=50000
SUPPORT_USERNAME=
DB_PATH=luckypari_bot.db
APK_PATH=files/luckypari.apk
INACTIVE_DAYS=5
PROMO_INTERVAL_HOURS=24
